.Signup {
    background-color: #22272e;
    height: 100vh;
}

.SignupTo {
    position: relative;
}

i.SignupIcon {
    font-size: 2rem;
    color: white;
    top: 0;
    position: absolute;
    margin-left: 1rem;
}

.SignupBtn.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #42b72a;
    --bs-btn-border-color: #42b72a;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #36a420;
    --bs-btn-hover-border-color: #36a420;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #36a420;
    --bs-btn-active-border-color: #36a420;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #42b72a;
    --bs-btn-disabled-border-color: #42b72a;
}