.LoadingContainer {
    background-color: #22272e;
    position: absolute;
}

.loader-111 {
    font-size: 15rem;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: bold;
    color: #263238;
    text-shadow: 0 0 2px #fff, 0 0 1px #fff, 0 0 1px #fff;
    letter-spacing: 2px;
    position: relative;
}

.loader-111::after {
    content: "...";
    position: absolute;
    left: 0;
    /* top: 0; */
    color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-animation: animloader111 2s linear infinite;
            animation: animloader111 2s linear infinite;
}

@keyframes animloader111 {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
}
